.login {
    &__container {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        border-radius: 12px;
        padding: 40px;
        width: 480px;
    }
}

@media screen and (max-width: 768px) {
    .login {
        &__container {
            width: 100%;
            padding: 40px 6vw;
            box-shadow: none;
        }
    }
    
}