@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-1: #f28903;
    --color-2: #212d60;
    --color-3: #0e77bc;
}

// Elementos default
body {
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
}

h2 {
    font-size: 32px;
    margin: 12px 2vw;
}

h3 {
    font-size: 20px;
    margin: 12px 2vw;
}

h4 {
    font-size: 24px;
    margin: 12px 2vw;
}

p {
    margin: 0;
}

// Botões
.button--1 {
    width: 100%;
    border-radius: 6px;
    padding: 8px 16px;
    background-color: var(--color-1);
    border: none;
    color: white;
    font-weight: bold;
    // box-shadow: var(--color-1) 0px 2px 8px 0px;
    transition: all ease-in-out 200ms;
    white-space: nowrap;

    &:hover {
        filter: brightness(1.2);
        color: var(--color-2);
    }
}

.button--2 {
    width: 100%;
    border-radius: 6px;
    padding: 8px 16px;
    background-color: transparent;
    border: 2px solid var(--color-1);
    color: var(--color-1);
    font-weight: bold;
    box-shadow: none;
    transition: all ease-in-out 200ms;

    &:hover {
        background-color: var(--color-1);
        color: white;
    }
}



// Loading
.loading-spinning {
    height: 30px;
    aspect-ratio: 2.5;
    --_g: no-repeat radial-gradient(farthest-side,var(--color-3) 90%,#0000);
    background:var(--_g), var(--_g), var(--_g), var(--_g);
    background-size: 20% 50%;
    animation: l43 1s infinite linear; 
}

@keyframes l43 {
    0%     {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    16.67% {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    33.33% {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 0   ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    50%    {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 50% }
    66.67% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 100%,calc(3*100%/3) 0   }
    83.33% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 100%}
    100%   {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
}



// Overwriting bootstrap
.bg-secondary {
    background-color: var(--color-3) !important;
}